body {
    margin: 0;
    padding: 0;
}        
        .nav{
            border: 1px solid black;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .header{
            display: flex;
            justify-content: space-between;
        }
        .header img{
            margin-left: 50px;
            width: 300px;
            height: 100px;
        }
        .number{
            margin-right: 50px;
            font-size: 25px;
            color: blue;
        }
        .tittle{
            font-size: 30px;
            color: blue;
        }
        .number-line{
            margin-top: 30px;
            width: 90vw;
            display: flex;
            justify-content: space-evenly;
            
        }
        .number-line p{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid gray;
            background-color: gray;
            color: white;
        }
        .number-line p:hover{
            background-color: blue;
        }
        .Calculator{
            width: 750px;
            height: 1000px;
            border: 1px solid black;
           margin: 50px auto;
            margin-top: 50px auto;
            /* align-items: center; */
        }
            .Calculator h3{
                margin-left: 30px;
            }
        .calci{
           margin-top: 40px;
            /* margin-left: 20px; */
            display: flex;
            justify-content: center;
            align-content: center;
        }
        .calci-image{
            width: 100%;
            max-width: 600px;
            height: 180px;
            display: flex;
            justify-content: center;
            gap: 35px;
        }
        .calci-image1 img{
            width: 150px;
            height: 130px;
            border: 1px solid black;
            display: flex;
            justify-content: center;
        }
        .calci-image1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 233px;
            height: 200px;
            box-shadow: 0px 0px 10px gray;
            transition: background-color 0.3s ease;
        }
        .calci-image1 p{
            font-size: larger;
            display: flex;
            justify-content: center;
            margin-top: 8px;
        }
       
        .calci-image1:hover {
            background-color: rgb(110, 110, 226);
            cursor: pointer;
        }
        